<style>
    #HitterzVolleyball {
      /* Sstyles with background */
      background-image: url('https://scontent.fakl1-4.fna.fbcdn.net/v/t39.30808-6/480497834_928421532780018_6503814943988929212_n.png?_nc_cat=103&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=50iiU4sDs1cQ7kNvwG9gZxu&_nc_oc=AdmJddW68EWvtnCLWDGipcAOeQZO7ZsUPY8FieaJbmt17qhMzGy0gzsKxmwB5hiC9eFW50-3zveW_3VRxhUO_NYq&_nc_zt=23&_nc_ht=scontent.fakl1-4.fna&_nc_gid=UMYaUOx1fGtoLli2n2LjSw&oh=00_AfS_tUZC8k7uI4PDQyWcbz4gV1QZh3pQtIwVUOqalFratg&oe=6890F04E');
      background-size: cover;       /* entire thing gets covered so none of the image gets cut off */
      background-position: center;  /* image becomes more centered */
      background-repeat: no-repeat;
      color: white;                 /* text is more readable on header */
      height: 550px;                /* height of header box */
      display: flex;                /*text is vertical (header)*/
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      font-size: 2.5rem;
      font-weight: bold;
      text-shadow: 1px 1px 5px rgba(0,0,0,0.7); /* text is more readable */
    }


    body {
      background-color: #faf0ca;
      padding: 0;
    }


    table {
      font-size: 18px;
      width: 700px;
      margin: 40px auto;
      border-spacing: 60px 5px;
      text-align: center;
    }


    th {
      font-weight: bold;
      border-bottom: 1px dashed black;
    }


    td {
      vertical-align: top;
    }


    nav {
      text-align: center;
      margin: 20px 0;
    }


    nav a {
      margin: 0 10px;
      text-decoration: none;
      font-weight: bold;
      color: #333;
    }
   
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;  /* space between images */
      padding: 20px;
    }


    .flex-item {
      flex: 1 1 calc((100% - 20px) / 3);  /* 3 columns */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
    }


    .flex-item img {
      width: 100%;
      max-width: 500px;
      height: 300px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }


    /* screens for two columns - medium sized */
    @media (max-width: 900px) {
      .flex-item {
        flex: 1 1 calc((100% - 10px) / 2);  /* 2 columns with 10px gap */
      }


      .flex-item img {
        height: 250px;
      }
    }


    /* screens for small sized screens */
    @media (max-width: 600px) {
      .flex-item {
        flex: 1 1 100%;  /* width of screen fixed */
      }


      .flex-item img {
        height: 220px;
      }
    }


    footer {
      text-align: center;
      margin-top: 50px;
      font-size: 14px;
      color: #555;
    }
  </style>